.bg-box {
    width: 2000px;
    height: 1000px;
    background-image: url(../img/pole-zelen-trava-dom-derevya.png), url(../img/trava.png), url(../img/);
    background-repeat: no-repeat;
    background-color: green;
    background-position: center;
    
}